        @media (min-width: 500px) {
            body {
                background-color: white;
             }
        }
        @media (max-width: 499px) {
            body {
                background-color: grey;
                }
        }
        .container {
            display: flex;
            flex-wrap: wrap;
        }

        .container > div {
            Background-color: springgreen;
            font-size: 20px;
            margin: 20px;
            padding: 20px;
            width: 400px;
            height: 100px;
        }
        .section  {
                background-color: grey;
                border:1px solid black;
                margin: 20px;
                padding: 20px;
                white-space: pre-wrap
         }
        .headerbar     {
                text-align: center;
        }
        *{
            margin: 0;
            padding: 0;
        }
        .rate {
            float: left;
            height: 46px;
            padding: 0 10px;
        }
        .rate:not(:checked) > input {
            position:absolute;
            top:-9999px;
        }
        .rate:not(:checked) > label {
            float:right;
            width:1em;
            overflow:hidden;
            white-space:nowrap;
            cursor:pointer;
            font-size:30px;
            color:#ccc;
        }
        .rate:not(:checked) > label:before {
            content: '★ ';
        }
        .rate > input:checked ~ label {
            color: #ffc700;
        }
        .rate:not(:checked) > label:hover,
        .rate:not(:checked) > label:hover ~ label {
            color: #deb217;
        }
        .rate > input:checked + label:hover,
        .rate > input:checked + label:hover ~ label,
        .rate > input:checked ~ label:hover,
        .rate > input:checked ~ label:hover ~ label,
        .rate > label:hover ~ input:checked ~ label {
            color: #c59b08;
        }

        /* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */