{% extends "layout.html" %}

{% block heading %}
    <div id="headerbar" class = "section headerbar">
        <h3>Steven's assignment</h3>
    </div>
{% endblock %}

{% block body %}
    <div id="Bookinfo" class = "section">
        <h2>Book details:</h2>
        <p>Title: {{bookDetail.4}}</p>
        <p>Author: {{bookDetail.0}}</p>
        <p>Year: {{bookDetail.5}}</p>
        <p>isbns: {{bookDetail.2}}</p>
    </div>

    <div id="GoodreadReviews" class = "section">
        <h2>Goodreads user rating</h2>
        <p>Rating:{{avgRating}}</p>
        <p>Rating count: {{ratingCount}}</p>
    </div>
    <form action = "{{ url_for('book', isbn = bookDetail.2) }}" method="post">
        <div id="Reviews" class = "section">
            <h2>Leave your review</h2>
            <!---###Borrowed this code from codepen.io--->
           <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
            </div>
            <div class="form-group">

              <textarea class="form-control" rows="10" cols="50" name="comment"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Share review</button>
        </div>
    </form>
    </div>
    <div id="ReviewsOverview" class = "section">
        <h2>Reviews left on Steven's website</h2>
            <div id="reviewResult" class = "container">
                {% for book in reviewResult %}
                <div>
                    <div>Rating: {{book.0}}</div>
                    <div>Review: {{book.1}}</div>
                </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}





z