{% extends "layout.html" %}

{% block heading %}
    First Page
{% endblock %}

{% block body %}
    <div id="search" class = "section">
        <form>
          Search book: <input type="text" name="search"><br>
            {{searchResult}}
        </form>
    </div>

    <div id="Upload" class = "section">
        <form>
          Upload book list: <input type="file" accept=".csv" />
        </form>
    </div>

    <div id="searchResultOverview" class = "section">
        <h1>Search results</h1>
        <div id="searchResult" class = "container">
            {% for book in searchResult %}
            <div> {{book}} </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}