{% extends "layout.html" %}

{% block heading %}
    <div id="headerbar" class = "section headerbar">
        <h3>Steven's assignment</h3>
        <div class = "logoutbutton"><a href="/login">logout</a></div>
    </div>

{% endblock %}

{% block body %}
    <div id="search" class = "section">
        <form action="/" method="post">
          Search book: <input type="text" name="search" placeholder="type a isbn" onclick="searchBook()"><br>
        <input type="submit" value="Submit">
        </form>
    </div>

    <div id="Upload" class = "section">
        <form>
          Upload book list: <input type="file" accept=".csv" />
        </form>
    </div>

    <div id="searchResultOverview" class = "section">
        <h1>Search results</h1>
        <div id="searchResult" class = "container">
            {% for book in searchResult %}
            <div> {{book}} </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}