{% extends "layout.html" %}

{% block heading %}
    <div id="headerbar" class = "section headerbar">
        <h3>Steven's assignment</h3>
        <div class = "logoutbutton"><a href="/login">logout</a></div>
    </div>

{% endblock %}

{% block body %}
    <div id="search" class = "section">
        <form action="/search" method="post">
          Search book: <input type="text" name="search" placeholder="type a isbn" onclick="searchBook()"><br>
        <input type="submit" value="Submit">
        </form>
    </div>
    <div id="searchResultOverview" class = "section">
        <h1>Book overview</h1>
            <div id="searchResult" class = "container">
                {% for book in searchResult %}
                <div> {{book}} <a href="{{ url_for('book', isbn = book.2) }}">details</a>
                </div>
                {% endfor %}
            </div>
    </div>

{% endblock %}